<div class="container-fluid">
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-4 col-sm-12">
        <div class="first-half">
          <p class="row d-flex justify-content-center"><%= cl_image_tag @user.photo.key, :class => 'profile-img' %></p>
          <div class="hr-style"><hr></div>
          <div class="text-center">
            <h2><%= @user.username %></h2>
            <h6><strong>Responsible:</strong> <%= @user.full_name %></h6>
          </div>
          <div class="">
            <div class="row d-flex justify-content-center">
            <%= link_to "Website", @user.webpage , target: "_blank", rel: "nofollow", class: "link-profile btn btn-light mb-2"  %>
          </div>
          <div class="row d-flex justify-content-center">
            <%= mail_to @user.email, "Contact", class: "link-profile btn btn-light mb-3" %>
          </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-sm-12">
        <div class="second-half">
          <div class="user-details">
            <div class="p-3">
              <h3>About</h3>
              <p><%= @user.bio %></p>
            </div>
            <hr>
            <div class="my-3 p-3">
              <h4>Events</h4>
              <ul class="no-bullet-points">
                <% @user.events.each do |event|%>
                  <li><i class="fas fa-caret-right" style="color:#856c8b"></i> <%= link_to(event.name, event_path(event), class: "event-link ml-2", target: "_blank") %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <hr>
          <div class="p-3">
            <h4>Reviews</h1>
            <% @user.reviews_as_reviewee.each do |review| %>
              <div class="review-box">
                <% review.rating.times do %>
                    <i class="fas fa-star" style="color: #fbd94c"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="far fa-star" style="color: #fbd94c"></i>
                <% end %>
                <p><%= link_to(review.reviewer.full_name, user_path(review.reviewer), class: "user-link") %></p>
                <p class="color-tertiary"><em><%= review.message %></em></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

