<div class="d-flex">
  <div class="container w-50" id="indexcontainer">

      <%= simple_form_for :search, url: events_path, method: "GET" do |f| %>
        <div class="d-flex justify-content-center align-items-center form-inline" id="category-form">
          <% if params[:search].present? %>
            <%= f.input :category, label: "Cause", collection: Event::CATEGORIES, prompt: "#{params[:search][:category]}"%>
          <% else %>
          <%= f.input :category, label: "Cause", collection: Event::CATEGORIES %>
          <% end %>
            <%= f.hidden_field :query, value: "#{params[:search][:query]}" if params[:search].present? %>
            <%= f.submit "Search", class: "button-chip-main" %>
        </div>
    <div class="row">
      <% @events.each do |event| %>
      <% if event.starts_at > Date.today %>
      <div class="m-4 col-xl-5 col-lg-11 col-md-6 col-sm-12 p-0 text-center">
        <div class="card-chip">
          <div class="event-content d-flex flex-column">
            <%= link_to event_path(event) do %>
              <div class="card-chip-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)),url(<%= cl_image_path event.photo.key %>)">
                <div class="card-chip-spots">
                  <p class="mb-0 p-1 text-center"><div class="spots-left-card d-flex align-items-center"><div class="spots-left-circle d-flex align-items-center justify-content-center text-dark m-2"><%= event.capacity - event.requests.length %></div> spots left</div></p>
                </div>
              </div>
            <% end %>
            <div class="pl-3 pb-3 pr-3 d-flex flex-column">
              <div class="card-chip-title text-center">
                <h3 class="mb-0"><%= link_to(event.name, event_path(event), class: "event-link") %></h3>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div class="card-chip-description">
                  <p class="color-secondary"><i class="fas fa-calendar-times mr-3"></i>   <%= event.starts_at_formatted%> to <%= event.ends_at_time %></p>
                  <a class="user-link" href="#" data-toggle="modal" data-target="#modal-<%= event.user.id %>">
                  <p><i class="fas fa-user-friends mr-3"></i><i class="fas fa-caret-right"></i> <strong><%= event.user.username %></strong></p>
                  </a>
                </div>
                  <div class="modal fade" id="modal-<%=event.user.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><%= event.user.username%>'s profile</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Contact person: <%=event.user.full_name %></p>
                          <div class="d-flex justify-content-around p-3">
                            <%= cl_image_tag(event.user.photo.key, id: "modal-photo", class: "mb-3") %>
                            <p class="p-3"><%= event.user.bio %></p>
                          </div>
                          <div class="d-flex">
                            <div>
                              <p><i class="fas fa-globe mr-3"></i><i class="fas fa-caret-right"></i><%= link_to " #{event.user.username}'s Website", event.user.webpage , target: "_blank", rel: "nofollow", class: "user-link ml-1"  %></p>
                                <ul class="no-bullet-points mt-5">
                                  <% event.user.events.each do |event|%>
                                    <% if event.starts_at > Date.today %>
                                      <li><i class="fas fa-calendar-times mr-3"></i><i class="fas fa-caret-right ml-1" style="color:#856c8b"></i> <%= link_to(event.name, event_path(event), class: "event-link ml-1", target: "_blank") %><p class="ml-5"><%= event.starts_at_formatted %> to <%= event.ends_at_time %></p></li>
                                    <% end %>
                                  <% end %>
                                </ul>
                                </div>
                            <p><i class="fas fa-user-friends ml-3 mr-3"></i><i class="fas fa-caret-right"></i><%= link_to " View full profile", user_path(event.user), class: "user-link ml-1" %></p>
                          </div>
                        </div>
                        <div class="modal-reviews">
                          <h5 class="m-3">Reviews:</h5>
                          <% event.user.reviews_as_reviewee.each do |review| %>
                            <div class="review ml-3">
                              <% review.rating.times do %>
                                <i class="fas fa-star" style="color: #EDB867"></i>
                              <% end %>
                              <% (5 - review.rating).times do %>
                                <i class="far fa-star" style="color: #EDB867"></i>
                              <% end %>
                              <p><em>"<%= review.message %>"</em></p>
                            </div>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="button-chip-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
     <% end %>

    <% if @events_today.length == 0 %>
         <div class="error">
          <p>Sorry, no results found</p>
          <%= link_to("Try Again", root_path, class: "button-chip-secondary") %></p>
        </div>
    <% end %>
  </div>
  <div id="map" class="w-50" id="map-index-media"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>


