<section class="banner">
  <div class="container py-5">
    <h1>Chip In</h1>
    <p>Find volunteering experiences near you</p>
    <div class="homepage-search">
      <%= simple_form_for :search, method: :get, url: events_path do |f|%>
      <%= f.input :query, label: false, placeholder: "Search (e.g. Berlin, poverty...)" %>
      <%= f.submit "Submit", as: :hidden, class: "d-none" %>
      <%= f.submit "Search", class: "button-chip-main" %>
      <% end %>
    </div>
  </div>
</section>

<section class="section" id="section-one">
  <h2 class="py-5" id="first-header">HOW IT WORKS</h2>
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mission-card">
          <div class="d-flex flex-column text-center mission-content-center">
            <%= cl_image_tag("https://res.cloudinary.com/dqlvehu5z/image/upload/v1583857847/find_pzmo01.jpg",
              crop: :fill) %>
            <div class="mission-text">
              <h4>Find the perfect opportunity</h4>
              <p>We make it easy to volunteer at a time or location that works for you.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mission-card">
          <div class="d-flex flex-column text-center mission-content-center">
            <%= cl_image_tag("https://res.cloudinary.com/dqlvehu5z/image/upload/v1583858272/phone_hc2rp2.jpg",
              crop: :fill) %>
            <div class="mission-text">
              <h4>Send your request online</h4>
              <p>Whether at home or on the go, you contact charities directly.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mission-card">
          <div class="d-flex flex-column text-center mission-content-center">
            <%= cl_image_tag("https://res.cloudinary.com/dqlvehu5z/image/upload/v1583859172/community_vzbxsw.jpg",
            crop: :fill) %>
            <div class="mission-text">
              <h4>Join our network of volunteers</h4>
              <p>Meet and connect with like-minded individuals in your area.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mission-card">
          <div class="d-flex flex-column text-center mission-content-center">
            <%= cl_image_tag("https://res.cloudinary.com/dqlvehu5z/image/upload/v1583860195/memories2_xtavyo.jpg",
            crop: :fill) %>
            <div class="mission-text">
            <h4>Have experiences you won't forget</h4>
            <p>Help others in your city while making memories.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="section-two">
   <div class="container py-5">
    <h2 class="chip-purple" id="second-header">FEATURED EVENTS</h2>
    <div class="">
      <div class="row h-100 justify-content-center">
        <% @events.sample(3).each do |event| %>
          <% if event.starts_at > Date.today %>
            <div class="col-lg-3 col-sm-12 p-0 m-4">
              <div class="card-chip">
                <div class="event-content d-flex flex-column">
                  <%= link_to event_path(event) do %>
                    <div class="card-chip-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)),url(<%= cl_image_path event.photo.key %>)">
                      <div class="card-chip-spots">
                        <p class="mb-0 p-1 text-center"><div class="spots-left-card d-flex align-items-center"><div class="spots-left-circle d-flex align-items-center justify-content-center text-dark m-2"><%= event.capacity - event.requests.length %></div> spots left</div></p>
                      </div>
                    </div>
                  <% end %>
                  <div class="pl-3 pb-3 pr-3 d-flex flex-column">
                    <div class="card-chip-title text-center">
                      <h3 class="mb-0"><%= link_to(event.name, event_path(event), class: "event-link") %></h3>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                      <div class="card-chip-description">
                        <p class="color-secondary"><i class="fas fa-calendar-times mr-3"></i>   <%= event.starts_at_formatted%> to <%= event.ends_at_time %></p>
                        <p id="host-icons"><i class="fas fa-user-friends mr-3"></i><i class="fas fa-caret-right"></i> <strong><%= link_to(event.user.username, user_path(event.user), class: "user-link") %></strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>


